@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 34, ../../sass/layouts/responsive-sidebars.sass */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

/* line 46, ../../sass/layouts/responsive-sidebars.sass */
#header,
#content,
#navigation,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
}

/* line 57, ../../sass/layouts/responsive-sidebars.sass */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../../../../../../../Users/tslesinski/.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../../../Users/tslesinski/.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

@media all and (min-width: 480px) {
  /* line 64, ../../sass/layouts/responsive-sidebars.sass */
  #main {
    padding-top: 3em;
    position: relative;
  }
}
