@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 35, ../../sass/layouts/responsive-sidebars.sass */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

/* line 44, ../../sass/layouts/responsive-sidebars.sass */
.header-inner,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 52, ../../sass/layouts/responsive-sidebars.sass */
.header-inner,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
/* line 52, ../../../../../../../../.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
.header-inner:before, .header-inner:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../../../../../../../.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
.header-inner:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 56, ../../sass/layouts/responsive-sidebars.sass */
.sidebars {
  margin-left: 0;
}

@media all and (min-width: 480px) {
  /* line 59, ../../sass/layouts/responsive-sidebars.sass */
  #main {
    padding-top: 10em;
    position: relative;
  }

  /* line 63, ../../sass/layouts/responsive-sidebars.sass */
  .sidebars {
    margin-left: 50px;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /* line 69, ../../sass/layouts/responsive-sidebars.sass */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  /* line 72, ../../sass/layouts/responsive-sidebars.sass */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /* line 80, ../../sass/layouts/responsive-sidebars.sass */
  .sidebar-second #content {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
  }
  /* line 83, ../../sass/layouts/responsive-sidebars.sass */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
  }
}
