/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */

@import base

article
  border-bottom: 1px dashed $passive-text
  //margin: 1em 0
  &:last-child
    border-bottom: 2px dashed $subtle
.node
  // Node wrapper
  .preview &
    // Preview of the content before submitting new or updated content
    // background-color: #ffffea;
    // Drupal core uses a #ffffea background
  .node-title
    +transition(.5s ease-out all)
    line-height: 1.2em
    border-bottom: 1px dashed transparent
    display: inline-block
    &:first-letter
      font-size: 1.7em
    &:hover
      border-bottom: 1px solid $lime-green
  .user-picture
    // The picture of the node author
  .submitted
    color: $passive-text
    margin: 0
    float: right
    text-shadow: 0px 1px 0px #fff
    +transition(.25s ease-out all)
  .content

  .node-title, ul.links
    font-family: $display-font
    text-transform: uppercase
article .submitted
  opacity: 0
article:hover .submitted,
.section-content .submitted
  opacity: 1

.node-promoted
  // A node that has been promoted to the front page

.node-sticky
  // A sticky node (displayed before others in a list)

.node-by-viewer
  // A node created by the current user

.node-teaser
  // A node displayed as teaser
  ul.links
    font-size: 1.1em
    margin: .5em 0
// All nodes are given a node-FOO class that describes the type of content that
// it is. If you create a new content type called "my-custom-type", it will
// receive a "node-my-custom-type" class.
.node-page
  // Page content node

.node-article
  // Article content node

.node-unpublished
  // Unpublished nodes
  // background-color: #fff4f4;
  // Drupal core uses a #fff4f4 background
  p.unpublished
    // The word "Unpublished" displayed underneath the content.
    +unpublished-div
