/*
 * @file
 * Comment Styling
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 8, ../sass/comments.sass */
.comments {
  margin: 1.5em 0;
}

/* line 18, ../sass/comments.sass */
.comment.comment-preview {
  background-color: #ffffea;
}
/* line 40, ../sass/comments.sass */
.comment .new {
  color: #cc0000;
}
/* line 47, ../sass/comments.sass */
.comment .permalink {
  text-transform: uppercase;
  font-size: 75%;
}

/* line 56, ../sass/comments.sass */
.indented {
  margin-left: 30px;
}

/* line 65, ../sass/comments.sass */
.comment-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
