@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Comment Styling
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 8, ../sass/comments.sass */
.comments {
  margin: 1.5em 0;
}
/* line 9, ../sass/comments.sass */
.comments article {
  position: relative;
}
/* line 12, ../sass/comments.sass */
.comments #comment-wrapper > div:nth-child(odd) article {
  background: rgba(0, 0, 0, 0.04);
  border-bottom: 0;
  border-radius: 5px;
  padding: 1em;
}
/* line 17, ../sass/comments.sass */
.comments #comment-wrapper > div:nth-child(even) article {
  border-bottom: 0;
  padding: 1em;
}

/* line 27, ../sass/comments.sass */
.comment-form .form-item {
  color: #999999;
  font-size: 0.75em;
}

/* line 31, ../sass/comments.sass */
.pic-with-comment .username {
  padding: 0.5em;
}
/* line 33, ../sass/comments.sass */
.pic-with-comment .user-picture {
  float: left;
}
/* line 35, ../sass/comments.sass */
.pic-with-comment .user-picture,
.pic-with-comment .comment-text {
  margin: 0;
}
/* line 38, ../sass/comments.sass */
.pic-with-comment .comment-text {
  padding: 0.5em;
}
/* line 40, ../sass/comments.sass */
.pic-with-comment .comment-text a,
.pic-with-comment .comment-text p {
  display: inline;
}

/* line 43, ../sass/comments.sass */
#edit-author--2 {
  text-align: right;
}

/* line 47, ../sass/comments.sass */
.comment.comment-preview {
  background-color: #ffffea;
}
/* line 69, ../sass/comments.sass */
.comment .new {
  color: #cc0000;
}
/* line 74, ../sass/comments.sass */
.comment .submitted {
  position: absolute;
  right: 20px;
  top: 10px;
}
/* line 78, ../sass/comments.sass */
.comment .permalink {
  text-transform: uppercase;
  font-size: 75%;
}
/* line 84, ../sass/comments.sass */
.comment ul.links {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 5px;
  float: right;
  margin: 0;
  padding: 0.5em;
}

/* line 92, ../sass/comments.sass */
.indented {
  margin-left: 30px;
}

/* line 101, ../sass/comments.sass */
.comment-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 50, ../sass/_custom.sass */
.lt-ie8 .comment-unpublished p.unpublished > {
  position: relative;
}
