@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Form Styling
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 8, ../sass/forms.sass */
form {
  margin: 40px auto;
}

/* line 11, ../sass/forms.sass */
fieldset {
  margin: auto;
  height: auto;
  border: 1px solid #e5e5e5;
  border-top: 0px solid #e5e5e5;
  background: #eeeeee;
  padding: 0 20px;
}

/* line 20, ../sass/forms.sass */
form label {
  font-size: 1em;
  color: #111111;
}
/* line 23, ../sass/forms.sass */
form label.mid {
  line-height: 40px;
}
/* line 25, ../sass/forms.sass */
form input, form select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 27, ../sass/forms.sass */
form input, form select, form textarea {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset, 0 1px white;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset, 0 1px white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset, 0 1px white;
  background: #d9e34e;
  border: 0;
  color: #999999;
  font-size: 1em;
  font-weight: 300;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
}
/* line 43, ../sass/forms.sass */
form input:focus, form select:focus, form textarea:focus {
  outline: none;
}
/* line 45, ../sass/forms.sass */
form select {
  margin-bottom: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 260px;
}
/* line 50, ../sass/forms.sass */
form input.checkbox, form input.radio {
  margin: 0;
  padding: 2px 0;
  width: auto;
  height: auto;
  background: white;
  border: 3px solid #999999;
  height: 16px;
  cursor: pointer;
  width: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 63, ../sass/forms.sass */
form input[type="checkbox"]:hover {
  background-color: rgba(191, 185, 169, 0.4);
}
/* line 65, ../sass/forms.sass */
form input[type="radio"] {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
/* line 66, ../sass/forms.sass */
form input[type="radio"]:hover {
  background-color: rgba(191, 185, 169, 0.4);
}
/* line 69, ../sass/forms.sass */
form input[type="checkbox"]:checked {
  background: #d9e34e;
  border: 3px solid #d9e34e;
  -webkit-box-shadow: 0 0 1px 2px white inset;
  -moz-box-shadow: 0 0 1px 2px white inset;
  box-shadow: 0 0 1px 2px white inset;
}
/* line 73, ../sass/forms.sass */
form input[type="radio"]:checked {
  background: #d9e34e;
  -webkit-box-shadow: 0 0 1px 2px white inset;
  -moz-box-shadow: 0 0 1px 2px white inset;
  box-shadow: 0 0 1px 2px white inset;
  border: 3px solid #d9e34e;
}
/* line 77, ../sass/forms.sass */
form input.button {
  width: 270px;
  height: 40px;
  border: 0px solid white;
}
/* line 81, ../sass/forms.sass */
form textarea {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}
/* line 84, ../sass/forms.sass */
form .btn,
form input[type="submit"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid white;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  color: #333333;
  cursor: pointer;
  font-family: Rokkitt;
  font-size: 20px;
  height: 40px;
  margin: 10px;
}
/* line 95, ../sass/forms.sass */
form .btn:hover,
form input[type="submit"]:hover {
  background: #c7d321;
}
/* line 97, ../sass/forms.sass */
form .btn:active,
form input[type="submit"]:active {
  -webkit-box-shadow: 0 0 5px #dadada;
  -moz-box-shadow: 0 0 5px #dadada;
  box-shadow: 0 0 5px #dadada;
}
/* line 99, ../sass/forms.sass */
form .btn:first-child,
form input[type="submit"]:first-child {
  margin-left: 0;
}

/* line 102, ../sass/forms.sass */
.select {
  border-top: 1px solid #999999;
  padding: 5px 7px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 109, ../sass/forms.sass */
.select:after {
  content: "‹";
  color: #999999;
  font-size: 30px;
}

/* line 113, ../sass/forms.sass */
.input-wrap {
  display: inline;
  position: relative;
}

/* line 118, ../sass/forms.sass */
.form-item {
  margin: 1.5em 0;
}
/* line 121, ../sass/forms.sass */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #cc0000;
}
/* line 126, ../sass/forms.sass */
.form-item label {
  margin-right: 20px;
  font-weight: bold;
}
/* line 130, ../sass/forms.sass */
.form-item label.option {
  display: inline;
}
/* line 133, ../sass/forms.sass */
.form-item .form-required {
  color: transparent;
}
/* line 136, ../sass/forms.sass */
.form-item .form-required:after {
  color: rgba(204, 0, 0, 0.5);
  font-weight: 300;
  content: "←required";
}
/* line 140, ../sass/forms.sass */
.form-item .description {
  font-size: 0.85em;
  font-weight: 300;
}
/* line 144, ../sass/forms.sass */
.form-checkboxes .form-item, .form-radios .form-item {
  margin: 0;
}

/* line 154, ../sass/forms.sass */
.container-inline div,
.container-inline label {
  display: inline;
}

/* line 162, ../sass/forms.sass */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* line 167, ../sass/forms.sass */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* line 176, ../sass/forms.sass */
#user-login-form {
  text-align: left;
}
/* line 184, ../sass/forms.sass */
#user-login-form ul {
  margin-bottom: 0;
}
/* line 188, ../sass/forms.sass */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  margin-top: 1.5em;
  margin-left: -20px;
}
/* line 195, ../sass/forms.sass */
#user-login-form li.user-link {
  margin-top: 1.5em;
}

/* line 199, ../sass/forms.sass */
#user-login ul {
  margin: 1.5em 0;
}

/* line 208, ../sass/forms.sass */
form th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #cccccc;
}
/* line 214, ../sass/forms.sass */
form tbody {
  border-top: 1px solid #cccccc;
}
/* line 216, ../sass/forms.sass */
form tr.even {
  background-color: white;
}
/* line 218, ../sass/forms.sass */
form table .item-list ul {
  margin: 0;
}

/* line 224, ../sass/forms.sass */
.lt-ie8 tr.even th,
.lt-ie8 tr.even td,
.lt-ie8 tr.odd th,
.lt-ie8 tr.odd td {
  border-bottom: 1px solid #cccccc;
}

/* line 230, ../sass/forms.sass */
td.menu-disabled {
  background: #cccccc;
}
