/*
 * @file
 * RTL companion for the forms.css file.
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 11, ../sass/forms-rtl.sass */
#user-login-form {
  text-align: right;
}
/* line 18, ../sass/forms-rtl.sass */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  margin-left: 0;
  margin-right: -20px;
}

/* line 32, ../sass/forms-rtl.sass */
form th {
  text-align: right;
  padding-left: 1em;
  padding-right: 0;
}
