@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 3, ../sass/icons.sass */
ul.inline .comment-reply {
  padding: 0;
}

/* line 5, ../sass/icons.sass */
.comment-reply a {
  display: inline-block;
  text-indent: -9999px;
  font-size: 1em;
  width: 1.8em;
  height: 1.2em;
  background: black;
  border-radius: 0.2em;
  position: relative;
  top: 2px;
}
/* line 15, ../sass/icons.sass */
.comment-reply a::before {
  position: absolute;
  content: "";
  bottom: -0.3em;
  right: 0.4em;
  width: 0em;
  height: 0em;
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid black;
}

/* line 27, ../sass/icons.sass */
ul.inline li.comment-edit {
  padding: 0 1em;
}

/* line 29, ../sass/icons.sass */
.comment-edit {
  position: relative;
  text-indent: -9999px;
}
/* line 30, ../sass/icons.sass */
.comment-edit a {
  display: inline-block;
  font-size: 20px;
}
/* line 31, ../sass/icons.sass */
.comment-edit a::before, .comment-edit a::after {
  margin: -8px 0 0;
  background: black;
}
/* line 38, ../sass/icons.sass */
.comment-edit::before, .comment-edit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
/* line 44, ../sass/icons.sass */
.comment-edit a::before, .comment-edit a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
/* line 49, ../sass/icons.sass */
.comment-edit a::before {
  left: 4px;
  top: 11px;
  width: 5px;
  height: 5px;
  margin-top: 2px;
  background: black;
  -webkit-transform: skew(-10deg, -10deg);
  -moz-transform: skew(-10deg, -10deg);
  -ms-transform: skew(-10deg, -10deg);
  -o-transform: skew(-10deg, -10deg);
  transform: skew(-10deg, -10deg);
}
/* line 61, ../sass/icons.sass */
.comment-edit a::after {
  left: 3px;
  width: 20px;
  height: 6px;
  border-left: 1px solid white;
  margin-top: -3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 75, ../sass/icons.sass */
ul.inline li.comment-delete {
  padding: 0 1em;
}

/* line 77, ../sass/icons.sass */
.comment-delete a {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 0.3em;
  height: 1.5em;
  background: #b5111a;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 1em;
}
/* line 90, ../sass/icons.sass */
.comment-delete a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.3em;
  height: 1.5em;
  background: #b5111a;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
