@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Navigation Styling
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 8, ../sass/navigation.sass */
ul li.expanded {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==');
  list-style-type: circle;
}

/* line 13, ../sass/navigation.sass */
ul li.collapsed {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC');
  list-style-type: disc;
}

/* line 20, ../sass/navigation.sass */
ul li.leaf {
  list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC');
  list-style-type: square;
}

/* line 25, ../sass/navigation.sass */
li a.active {
  color: black;
}

@media all and (max-width: 480px) {
  /* line 32, ../sass/navigation.sass */
  html, body {
    width: 100%;
    height: 100%;
  }

  /* line 35, ../sass/navigation.sass */
  body {
    -webkit-transition: all 0.5s cubic-bezier(0.75, -0.25, 0.25, 0.75);
    -moz-transition: all 0.5s cubic-bezier(0.75, -0.25, 0.25, 0.75);
    -o-transition: all 0.5s cubic-bezier(0.75, -0.25, 0.25, 0.75);
    transition: all 0.5s cubic-bezier(0.75, -0.25, 0.25, 0.75);
    position: relative;
  }
  /* line 38, ../sass/navigation.sass */
  body.slide {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }

  /* line 40, ../sass/navigation.sass */
  .slide-menu {
    background: #444444;
    border-right: 1px solid black;
    box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.25) inset;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
    -webkit-transition: 0.25s ease-out all;
    -moz-transition: 0.25s ease-out all;
    -o-transition: 0.25s ease-out all;
    transition: 0.25s ease-out all;
    width: 240px;
  }
  /* line 51, ../sass/navigation.sass */
  .slide-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  /* line 56, ../sass/navigation.sass */
  .slide-menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #fefefe;
    display: block;
    padding: 0.5em 1em 0.5em 0.25em;
    margin-bottom: 1px;
    text-align: right;
  }
  /* line 64, ../sass/navigation.sass */
  .slide-menu ul li a:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  /* line 67, ../sass/navigation.sass */
  .mobile-handle {
    width: 100%;
    position: relative;
    height: 3rem;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
  }
  /* line 75, ../sass/navigation.sass */
  .mobile-handle:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-size: 25% 4px;
  }
  /* line 82, ../sass/navigation.sass */
  .mobile-handle:after {
    content: "\2261";
    position: absolute;
    right: 20px;
    display: table-cell;
    line-height: 3rem;
    color: rgba(0, 0, 0, 0.5);
  }
  /* line 89, ../sass/navigation.sass */
  .mobile-handle:hover:after {
    color: black;
  }

  /* line 91, ../sass/navigation.sass */
  .content {
    padding: 0 1em;
  }
}
@media all and (min-width: 480px) {
  /* line 94, ../sass/navigation.sass */
  #main-menu {
    float: right;
  }

  /* line 97, ../sass/navigation.sass */
  #navigation {
    text-align: right;
  }
  /* line 100, ../sass/navigation.sass */
  #navigation .block {
    margin-bottom: 0;
  }
  /* line 102, ../sass/navigation.sass */
  #navigation .block-menu .block-title,
  #navigation .block-menu-block .block-title {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  /* line 105, ../sass/navigation.sass */
  #navigation ul.links,
  #navigation ul.menu {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  /* line 112, ../sass/navigation.sass */
  #navigation ul.links li,
  #navigation ul.menu li {
    float: left;
    padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none;
  }
}
/* line 123, ../sass/navigation.sass */
#secondary-menu {
  float: right;
}
