/*
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 52, ../sass/nodes.sass */
.node-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 50, ../sass/_custom.sass */
.lt-ie8 .node-unpublished p.unpublished > {
  position: relative;
}
