@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 10, ../sass/nodes.sass */
article {
  border-bottom: 1px dashed #999999;
}
/* line 13, ../sass/nodes.sass */
article:last-child {
  border-bottom: 2px dashed #dadada;
}

/* line 21, ../sass/nodes.sass */
.node .node-title {
  -webkit-transition: 0.5s ease-out all;
  -moz-transition: 0.5s ease-out all;
  -o-transition: 0.5s ease-out all;
  transition: 0.5s ease-out all;
  line-height: 1.2em;
  border-bottom: 1px dashed transparent;
  display: inline-block;
}
/* line 26, ../sass/nodes.sass */
.node .node-title:first-letter {
  font-size: 1.7em;
}
/* line 28, ../sass/nodes.sass */
.node .node-title:hover {
  border-bottom: 1px solid #d9e34e;
}
/* line 32, ../sass/nodes.sass */
.node .submitted {
  color: #999999;
  font-family: "Inconsolata", sans-serif;
  margin: 0;
  opacity: 0;
  text-align: right;
  text-shadow: 0px 1px 0px white;
  -webkit-transition: 0.25s ease-out all;
  -moz-transition: 0.25s ease-out all;
  -o-transition: 0.25s ease-out all;
  transition: 0.25s ease-out all;
}
/* line 42, ../sass/nodes.sass */
.node .node-title, .node ul.links {
  font-family: "Rokkitt", serif;
  text-transform: uppercase;
}

/* line 45, ../sass/nodes.sass */
.node:hover .submitted {
  opacity: 1;
}

/* line 59, ../sass/nodes.sass */
.node-teaser ul.links {
  font-size: 1.1em;
  margin: 0.5em 0;
}

/* line 75, ../sass/nodes.sass */
.node-unpublished p.unpublished {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
/* line 50, ../sass/_custom.sass */
.lt-ie8 .node-unpublished p.unpublished > {
  position: relative;
}
