/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 11, ../sass/normalize-rtl.sass */
dd {
  margin: 0 30px 0 0;
}

/* line 16, ../sass/normalize-rtl.sass */
menu,
ol,
ul,
.item-list ul {
  padding: 0 30px 0 0;
}

/* line 38, ../sass/normalize-rtl.sass */
th {
  text-align: right;
}
