/*
 * @file
 * RTL companion for the pages.css file.
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 9, ../sass/pages-rtl.sass */
#logo {
  float: right;
}

/* line 14, ../sass/pages-rtl.sass */
ul.inline li {
  display: inline-block;
  padding: 0 0 0 1em;
}

/* line 20, ../sass/pages-rtl.sass */
span.field-label {
  padding: 0 0 0 1em;
}
