@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 13, ../sass/pages.sass */
body {
  margin: 0;
  padding: 0;
}

/* line 21, ../sass/pages.sass */
#skip-link {
  margin: 0;
}
/* line 23, ../sass/pages.sass */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666666;
  color: white;
}

/* line 35, ../sass/pages.sass */
#logo {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 41, ../sass/pages.sass */
#logo img {
  vertical-align: bottom;
}

/* line 44, ../sass/pages.sass */
#name-and-slogan {
  float: left;
}

/* line 48, ../sass/pages.sass */
#site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
/* line 53, ../sass/pages.sass */
#site-name a:link,
#site-name a:visited {
  color: black;
  text-decoration: none;
}
/* line 57, ../sass/pages.sass */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 61, ../sass/pages.sass */
#site-slogan {
  margin: 0;
  font-size: 1em;
}

/* line 66, ../sass/pages.sass */
.region-header {
  clear: both;
}

/* line 81, ../sass/pages.sass */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 84, ../sass/pages.sass */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 90, ../sass/pages.sass */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  color: #333333;
  font-family: "Rokkitt", serif;
  margin: 0;
}

/* line 99, ../sass/pages.sass */
h1.title {
  border-bottom: 2px dashed #999999;
}

/* line 112, ../sass/pages.sass */
div.messages {
  margin: 1.5em 0;
}
/* line 116, ../sass/pages.sass */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 155, ../sass/pages.sass */
ul.inline {
  display: block;
  padding: 5px 0;
}
/* line 159, ../sass/pages.sass */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
}

/* line 165, ../sass/pages.sass */
span.field-label {
  padding: 0 1em 0 0;
}

/* line 170, ../sass/pages.sass */
.item-list .pager {
  padding: 0;
}
/* line 173, ../sass/pages.sass */
.item-list .pager li {
  padding: 0 0.5em;
}
