@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 5, ../sass/screen.sass */
#slidedown {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  pointer-events: dnone;
  position: absolute;
  height: 65px;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

/* line 13, ../sass/screen.sass */
#header {
  float: left;
}

/* line 15, ../sass/screen.sass */
#content {
  background: rgba(255, 255, 255, 0.95);
  border-top: 4px solid #d9e34e;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* line 20, ../sass/screen.sass */
.breadcrumb {
  display: inline-block;
  border: 2px solid white;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  background: #d9e34e;
}
/* line 28, ../sass/screen.sass */
.breadcrumb:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 34, ../sass/screen.sass */
.breadcrumb ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 38, ../sass/screen.sass */
.breadcrumb ul li {
  list-style: none;
  float: left;
}
/* line 42, ../sass/screen.sass */
.breadcrumb ul li:first-child a, .breadcrumb ul li:first-child span {
  padding-left: 1em;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
/* line 50, ../sass/screen.sass */
.breadcrumb a, .breadcrumb span {
  color: #444444;
  display: block;
  float: left;
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
  position: relative;
  line-height: 2em;
  padding: 0 1em 0 1.5em;
  text-decoration: none;
  background: #d9e34e;
}
/* line 61, ../sass/screen.sass */
.breadcrumb a:after, .breadcrumb span:after {
  -webkit-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  z-index: 1;
  height: 2em;
  width: 2em;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  position: absolute;
  left: -32px;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #d9e34e;
  -webkit-transform: translateX(1em) rotate(45deg) scale(0.577) skew(15deg, 15deg);
  -moz-transform: translateX(1em) rotate(45deg) scale(0.577) skew(15deg, 15deg);
  -ms-transform: translateX(1em) rotate(45deg) scale(0.577) skew(15deg, 15deg);
  -o-transform: translateX(1em) rotate(45deg) scale(0.577) skew(15deg, 15deg);
  transform: translateX(1em) rotate(45deg) scale(0.577) skew(15deg, 15deg);
}
/* line 80, ../sass/screen.sass */
.breadcrumb .current {
  color: #777777;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
/* line 88, ../sass/screen.sass */
.breadcrumb .current:after {
  content: normal;
}
