@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,400,300,600,700,800);
/*
 * Custom sass mixins
 *
 * To use a mixin in this file, add this line to the top of your .scss file:
 *   @import "base";
 * Then to use a mixin for a particular rule, add this inside the ruleset's
 * curly brackets:
 *   @include mix-in-name;
 */
/* line 4, ../sass/screen.sass */
.background-wrapper {
  top: -50%;
  left: -50%;
  position: fixed;
  width: 200%;
  height: 200%;
  z-index: -2;
}

/* line 11, ../sass/screen.sass */
.drupaldelphia-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  height: auto;
}

/* line 22, ../sass/screen.sass */
.drupaldelphia-overlay {
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 34, ../sass/screen.sass */
.header-inner {
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 15px 7px;
  position: absolute;
  width: 100%;
}
/* line 40, ../sass/screen.sass */
.header-inner:after {
  content: "";
  display: table;
}

/* line 43, ../sass/screen.sass */
#slidedown {
  pointer-events: none;
  position: absolute;
  height: 65px;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

/* line 51, ../sass/screen.sass */
#content {
  background: rgba(255, 255, 255, 0.9);
  border-top: 4px solid #d9e34e;
  margin-bottom: 15px;
}

/* line 57, ../sass/screen.sass */
.sidebar {
  background: white;
  border-top: 4px solid #d9e34e;
  opacity: 0.9;
}

/* line 63, ../sass/screen.sass */
.breadcrumb {
  display: inline-block;
  border: 2px solid white;
  font-size: 13px;
  margin: 15px 0 0 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
  background: #d9e34e;
}
/* line 64, ../sass/screen.sass */
.breadcrumb li {
  display: none;
}
/* line 66, ../sass/screen.sass */
.breadcrumb li:last-child {
  display: inline;
}
/* line 68, ../sass/screen.sass */
.breadcrumb li:last-child a {
  padding: 0 1em 0 1em;
}
/* line 77, ../sass/screen.sass */
.breadcrumb:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 83, ../sass/screen.sass */
.breadcrumb ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 87, ../sass/screen.sass */
.breadcrumb ul li {
  list-style: none;
  float: left;
}
/* line 91, ../sass/screen.sass */
.breadcrumb ul li:first-child a, .breadcrumb ul li:first-child span {
  padding-left: 1em;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
/* line 99, ../sass/screen.sass */
.breadcrumb a, .breadcrumb span {
  color: #444444;
  display: block;
  float: left;
  font-family: "Rokkitt", serif;
  font-size: 1.2em;
  position: relative;
  line-height: 2em;
  padding: 0 1.5em 0 1em;
  text-decoration: none;
  background: #d9e34e;
}
/* line 110, ../sass/screen.sass */
.breadcrumb a:after, .breadcrumb span:after {
  -webkit-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  z-index: 1;
  height: 2em;
  width: 2em;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  position: absolute;
  left: -32px;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #d9e34e;
  -webkit-transform: translateX(1em) rotate(45deg) scale(0.5774) skew(15deg, 15deg);
  -moz-transform: translateX(1em) rotate(45deg) scale(0.5774) skew(15deg, 15deg);
  -ms-transform: translateX(1em) rotate(45deg) scale(0.5774) skew(15deg, 15deg);
  -o-transform: translateX(1em) rotate(45deg) scale(0.5774) skew(15deg, 15deg);
  transform: translateX(1em) rotate(45deg) scale(0.5774) skew(15deg, 15deg);
}
/* line 129, ../sass/screen.sass */
.breadcrumb .current {
  color: #777777;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
/* line 137, ../sass/screen.sass */
.breadcrumb .current:after {
  content: normal;
}

/* line 139, ../sass/screen.sass */
.view-id-sponsors li {
  text-align: center;
}

/* line 142, ../sass/screen.sass */
.view-frontpage .field-body,
.view-frontpage .field-body p {
  margin: 0.5em 0 0;
}
/* line 145, ../sass/screen.sass */
.view-frontpage .node-title {
  margin-top: 0.5em;
}

/* line 148, ../sass/screen.sass */
table {
  width: 100%;
}
